<h1 mat-dialog-title>Añadir Superheroe</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper>
        <mat-step>
            <ng-template matStepLabel>Nombre</ng-template>
            <form [formGroup]="nameFormGroup">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
                <div class="stepper-buttons">
                    <button mat-button matStepperNext color="primary" [disabled]="!isNameValid()">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Poderes</ng-template>
            <form [formGroup]="powersFormGroup">
                <mat-form-field>
                    <mat-label>Poderes</mat-label>
                    <input matInput formControlName="powers" required>
                </mat-form-field>
                <div class="stepper-buttons">
                    <button mat-button matStepperPrevious color="warn">Anterior</button>
                    <button mat-button matStepperNext color="primary" [disabled]="!powersFormControl.valid"
                        (click)="save()">Guardar</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
</div>